* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  padding: 10px;
  width: 1400px;
  margin: auto;

  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 3fr 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 150px);
}

.grid-item {
  background: url(https://www.jetacademy.az/image/galery/941698665370.jpg)
    no-repeat center;
  background-size: cover;
}

.grid-container .grid-item:nth-child(1) {
  grid-row: 1 / span 3;
}

.grid-container .grid-item:nth-child(5) {
  grid-row: 2 / span 2;
}

.grid-container .grid-item:nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.grid-container .grid-item:hover {
  transform: scale(1.1);
}

.zer {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 5px;
  margin: 50px auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.dot {
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.dot2 {
  grid-area: 3 / 3 / 4 / 4;
}

.dot3 {
  grid-area: 2 / 2 / 3 / 3;
}
